
BIGO_INSTALL_PATH=/opt/bigodata

# template vars
BIGODATA_HOME=/opt/bigodata

PYTHON_HOME=$BIGO_INSTALL_PATH/python27
CURL_HOME=$BIGO_INSTALL_PATH/curl-7.24.0
SPAW_HOME=$BIGO_INSTALL_PATH/spaw-fcgi
MEMCACHED_HOME=$BIGO_INSTALL_PATH/memcached-1.4.22
NGINX_HOME=$BIGO_INSTALL_PATH/nginx-1.7.4
FREETDS_HOME=$BIGO_INSTALL_PATH/freetds-0.91

ORACLE_LIB=$BIGO_INSTALL_PATH/instantclient_12_1
R_HOME=$BIGO_INSTALL_PATH/r-3.2.2

export PYTHON_HOME
export CURL_HOME
export SPAW_HOME
export MEMCACHED_HOME
export NGINX_HOME
export FREETDS_HOME
export ORACLE_LIB
export R_HOME

export BIGODATA_HOME

# export PGSQL_HOME=$BIGO_INSTALL_PATH/postgresql-9.4.5
# export PGDATA=$HOME/postgres/data
# export PGUSER=postgres

# export MYSQL_HOME=$BIGO_INSTALL_PATH/mysql-5.6.27
# export MYSQL_DATA=$HOME/mysql/data
# export MYSQL_USER=mysql

